/*--------------------------- Global Use -----------------------------*/

.non-select:hover {
    background-color: var(--UI-Style-Color-Grad);
}

.select {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--UI-Style-Color);
}

#SettingsMenu,
#Background_Select,
.button_options,
.saveConfig_buttons,
#Background_Image_Preview {
    border-radius: 5px;
}

/*--------------------------- Normal Use -----------------------------*/

#modalToll {
    z-index: 0;
    width: 100%;
    height: 90%;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
}

#SettingsMenu {
    width: 80%;
    height: 80%;
    background-color: #ffffff;
    max-width: 1000px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Main_Settings {
    width: 100%;
    height: 80%;
    border-bottom: 1px solid #000000;
}

#Settings_options {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #000000;
}

#SettingsFooter_Options {
    width: 60%;
    height: 10%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.button_options {
    outline: 1px solid #000000;
    height: 60%;
    width: auto;
    display: grid;
    align-content: center;
    place-items: center;
    margin: 0 10px;
    border: none;
}

.button_options h2 {
    margin: 0;
    padding: 0;
}

#Available_Images {
    width: 100px;
    text-align: center;
    margin: 0 10px 0 0;
}

#Background_Select {
    padding: 0;
    width: 100px;
    height: 50px;
    border: none;
    outline: 1px solid #000000;
}

#Background_Select h2 {
    position: absolute;
    display: grid;
    place-items: center;
}

#Background_Image_Preview {
    width: 100px;
    height: 50px;
    max-width: 100px;
    max-height: 50px;
    outline: 1px solid #000000;
}

#Background_Select:hover {
    outline: 2px solid #ff0000;
}


.saveConfig_buttons {
    height: 80%;
    outline: 1px solid #000000;
    border: none;
    display: grid;
    place-items: center;
}

.saveConfig_buttons h2 {
    margin: 0;
}

#Save_Restart {
    background-color: var(--UI-Style-Color);
}

.preferences_options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preferences {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-around;
}

._text {
    width: 60%;
    display: flex;
    flex-direction: row;
    text-align: start;
}

._config {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}